:root {
    --link-color: #042A2B;
    --link-shadow: #acc8e0;
}
body{
    background: #bfd7ea;
    color:  hsla(0, 0%, 0%, .85);
    font-family: 'Yusei Magic', sans-serif;
}
a{
    color: var(--link-color);
    text-shadow: none;
}